#mainpic{
    border-radius: 30px;
    height: 500px;
    width: 500px;
}
.centeredText{
    text-align: center;
}
.centeredImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.logo{
    height: 30px;
    width: 30px;
    border-style: double;
}
header{
    background-color: #5E7966 ;
}