#mainpic{
    border-radius: 30px;
    height: 500px;
    width: 500px;
}
.centeredText{
    text-align: center;
}
.centeredImg{
    display: block;
    margin-left: zero;
    margin-right: auto;
    width: 50%;
}
.logo{
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding: 5px 5px;

     outline: none;
}
header{
    background-color: #5E7966 ;
}